function hrane.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 106
pop this 0
push this 0
call Array.new 1
pop this 1
push pointer 0
call hrane.napravi_hranu 1
pop temp 0
push pointer 0
return
function hrane.init 0
push argument 0
pop pointer 0
push pointer 0
call hrane.crtaj_svu_hranu 1
pop temp 0
push constant 0
return
function hrane.hrane_arr_funkc 0
push argument 0
pop pointer 0
push this 1
return
function hrane.napravi_hranu 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 25
pop local 2
label WHILE_EXP0
push local 2
push constant 320
lt
push local 1
push constant 14
lt
and
not
if-goto WHILE_END0
push local 1
push constant 7
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push constant 20
add
pop local 2
label IF_FALSE0
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 30
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 25
pop local 2
label WHILE_EXP1
push local 2
push constant 320
lt
push local 1
push constant 29
lt
and
not
if-goto WHILE_END1
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 60
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 25
pop local 2
label WHILE_EXP2
push local 2
push constant 320
lt
push local 1
push constant 41
lt
and
not
if-goto WHILE_END2
push local 1
push constant 30
eq
push local 1
push constant 35
eq
or
push local 1
push constant 40
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push constant 20
add
pop local 2
label IF_FALSE1
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 90
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 25
pop local 2
label WHILE_EXP3
push local 2
push constant 320
lt
push local 1
push constant 56
lt
and
not
if-goto WHILE_END3
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 120
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP3
label WHILE_END3
push constant 25
pop local 2
label WHILE_EXP4
push local 2
push constant 320
lt
push local 1
push constant 66
lt
and
not
if-goto WHILE_END4
push local 1
push constant 61
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push constant 20
add
push constant 20
add
push constant 20
add
push constant 20
add
push constant 20
add
pop local 2
label IF_FALSE2
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 150
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP4
label WHILE_END4
push constant 25
pop local 2
label WHILE_EXP5
push local 2
push constant 320
lt
push local 1
push constant 79
lt
and
not
if-goto WHILE_END5
push local 1
push constant 67
eq
push local 1
push constant 78
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
push constant 20
add
pop local 2
label IF_FALSE3
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 180
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP5
label WHILE_END5
push constant 25
pop local 2
label WHILE_EXP6
push local 2
push constant 320
lt
push local 1
push constant 92
lt
and
not
if-goto WHILE_END6
push local 1
push constant 80
eq
push local 1
push constant 91
eq
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 2
push constant 20
add
pop local 2
label IF_FALSE4
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 210
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP6
label WHILE_END6
push constant 25
pop local 2
label WHILE_EXP7
push local 2
push constant 320
lt
push local 1
push constant 106
lt
and
not
if-goto WHILE_END7
push local 1
push constant 99
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 2
push constant 20
add
pop local 2
label IF_FALSE5
call hrana.new 0
pop local 0
push local 0
push local 2
push constant 235
push constant 3
call hrana.init 4
pop temp 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 20
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP7
label WHILE_END7
push constant 0
return
function hrane.crtaj_svu_hranu 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call hrana.crtaj_hranu 1
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function hrane.vrati_hranu 0
push argument 0
pop pointer 0
push this 1
return
function hrane.vrat_broj_hrane 0
push argument 0
pop pointer 0
push this 0
return
