function zidovi.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 33
pop this 0
push this 0
call Array.new 1
pop this 1
push pointer 0
call zidovi.napravi_zidove 1
pop temp 0
push pointer 0
return
function zidovi.init 0
push argument 0
pop pointer 0
push pointer 0
call zidovi.crtaj_zidove 1
pop temp 0
push constant 0
return
function zidovi.zidovi_arr_funkc 0
push argument 0
pop pointer 0
push this 1
return
function zidovi.napravi_zidove 1
push argument 0
pop pointer 0
call zid.new 0
pop local 0
push local 0
push constant 10
push constant 10
push constant 320
push constant 15
call zid.init 5
pop temp 0
push constant 0
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 10
push constant 15
push constant 15
push constant 250
call zid.init 5
pop temp 0
push constant 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 15
push constant 245
push constant 320
push constant 250
call zid.init 5
pop temp 0
push constant 2
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 160
push constant 15
push constant 165
push constant 45
call zid.init 5
pop temp 0
push constant 3
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 40
push constant 40
push constant 130
push constant 45
call zid.init 5
pop temp 0
push constant 4
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 195
push constant 40
push constant 290
push constant 45
call zid.init 5
pop temp 0
push constant 5
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 40
push constant 70
push constant 45
push constant 110
call zid.init 5
pop temp 0
push constant 6
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 15
push constant 135
push constant 40
push constant 140
call zid.init 5
pop temp 0
push constant 7
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 40
push constant 170
push constant 45
push constant 225
call zid.init 5
pop temp 0
push constant 8
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 45
push constant 70
push constant 75
push constant 75
call zid.init 5
pop temp 0
push constant 9
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 40
push constant 165
push constant 75
push constant 170
call zid.init 5
pop temp 0
push constant 10
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 75
push constant 100
push constant 80
push constant 140
call zid.init 5
pop temp 0
push constant 11
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 75
push constant 100
push constant 130
push constant 105
call zid.init 5
pop temp 0
push constant 12
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 110
push constant 70
push constant 220
push constant 75
call zid.init 5
pop temp 0
push constant 13
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 320
push constant 10
push constant 325
push constant 250
call zid.init 5
pop temp 0
push constant 14
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 160
push constant 75
push constant 165
push constant 105
call zid.init 5
pop temp 0
push constant 15
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 255
push constant 70
push constant 290
push constant 75
call zid.init 5
pop temp 0
push constant 16
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 285
push constant 70
push constant 290
push constant 110
call zid.init 5
pop temp 0
push constant 17
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 195
push constant 100
push constant 255
push constant 105
call zid.init 5
pop temp 0
push constant 18
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 250
push constant 100
push constant 255
push constant 140
call zid.init 5
pop temp 0
push constant 19
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 115
push constant 130
push constant 120
push constant 165
call zid.init 5
pop temp 0
push constant 20
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 120
push constant 160
push constant 210
push constant 165
call zid.init 5
pop temp 0
push constant 21
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 120
push constant 130
push constant 150
push constant 135
call zid.init 5
pop temp 0
push constant 22
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 180
push constant 130
push constant 210
push constant 135
call zid.init 5
pop temp 0
push constant 23
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 210
push constant 130
push constant 215
push constant 165
call zid.init 5
pop temp 0
push constant 24
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 250
push constant 165
push constant 290
push constant 170
call zid.init 5
pop temp 0
push constant 25
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 285
push constant 165
push constant 290
push constant 225
call zid.init 5
pop temp 0
push constant 26
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 75
push constant 195
push constant 80
push constant 225
call zid.init 5
pop temp 0
push constant 27
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 75
push constant 220
push constant 125
push constant 225
call zid.init 5
pop temp 0
push constant 28
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 205
push constant 220
push constant 255
push constant 225
call zid.init 5
pop temp 0
push constant 29
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 250
push constant 195
push constant 255
push constant 225
call zid.init 5
pop temp 0
push constant 30
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 160
push constant 220
push constant 165
push constant 250
call zid.init 5
pop temp 0
push constant 31
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call zid.new 0
pop local 0
push local 0
push constant 115
push constant 190
push constant 210
push constant 195
call zid.init 5
pop temp 0
push constant 32
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function zidovi.crtaj_zidove 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call zid.crtanje 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
